@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --brand-green-text: #1cc6a0;
  --brand-white-text: #ffffff;
  --brand-black-text: #001125;
  --brand-grey-background: #f8f8f8;
  --brand-white-background: #ffffff;
}

/* * {
  border: red solid 1px;
} */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  color: #707070;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style: none;
}
.navigation {
  background: url(/images/backgroundWeb.png);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.content {
  display: grid;
  grid-template-columns: repeat(10, 122px);
  grid-template-rows: auto;
  column-gap: 16px;
}

.wrapper {
  display: grid;
  grid-column: 2 / 10;
}

.inner-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 122px);
  grid-template-rows: auto;
  column-gap: 16px;
}

.logo {
  margin-top: 90px;
  grid-column: 1/4;
  grid-row: 1;
}

.heading-title {
  margin-top: 70px;
  grid-row: 2;
  grid-column: 1/6;
}
.heading-title h1 {
  color: var(--brand-green-text);
  text-align: left;
  font: normal normal bold 35px/60px "Open Sans";
  letter-spacing: 0px;
  text-transform: uppercase;
}
#exception1 {
  color: var(--brand-white-text);
  text-align: left;
  font: normal normal normal 35px/60px "Open Sans";
  letter-spacing: 0px;
  text-transform: lowercase;
}
.line {
  border: 3px solid var(--brand-green-text);
  grid-row: 3;
  width: 200px;
}
.heading-subtitle {
  margin-top: 40px;
  grid-row: 4;
  grid-column: 1/6;
}
.heading-subtitle h2 {
  color: var(--brand-white-text);
  text-align: left;
  font: normal normal normal 30px/70px "Open Sans";
  letter-spacing: 0px;
}

.heading-subtitle #exception2 {
  color: var(--brand-green-text);
  text-align: left;
  font: normal normal 600 30px/70px "Open Sans";
  letter-spacing: 0px;
}

.badges {
  display: grid;
  margin-top: 20px;
  grid-row: 5;
  grid-column: 1/6;
}
.iosbadge {
  grid-column: 1/2;
}

.androidbadge {
  grid-column: 2/6;
}

.smartphoneimg {
  display: grid;
  grid-column: 7/9;
  grid-row: 2/8;
  z-index: 2;
  margin: 0 0.5rem;

  animation: slideInRight;
  animation-duration: 2s;
}

/* section2-specialties */

.specialties {
  background-color: white;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specialties-text {
  display: grid;
  grid-column: 1/6;
  margin-top: 60px;
}
.specialties .line {
  border: 3px solid var(--brand-green-text);
  grid-row: 2;
  width: 200px;
}

.specialties-text h1 {
  color: var(--brand-black-text);
  text-align: left;
  font: normal normal 600 35px/70px "Open Sans";
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}

.specialties-text p {
  margin-top: 30px;
  color: var(--brand-black-text);
  text-align: left;
  font: normal normal 300 20px/30px "Open Sans";
  letter-spacing: 0px;
  opacity: 1;
}

.video-content {
  display: grid;
  grid-row: 3;
  grid-column: 1/9;
  margin-top: 100px;
  margin-bottom: 100px;
}

.functions {
  background-color: var(--brand-grey-background);
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.function-list-header {
  margin-top: 100px;
  margin-bottom: 50px;
  display: grid;
  grid-column: 1/9;
  justify-items: center;
}
.function-list-header h1 {
  color: var(--brand-green-text);
  text-align: left;
  font: normal normal bold 35px/60px "Open Sans";
  letter-spacing: 0px;
  text-transform: uppercase;
}

.function-list {
  display: grid;
  grid-column: 1/9;
  justify-items: center;
}
.function-list li {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 50px;
  align-items: center;
  margin-bottom: 40px;
}
.function-list ul {
  padding: 0;
}
.function-list-item h3 {
  color: var(--brand-black-text);
  text-align: left;
  font: normal normal 600 20px/30px "Open Sans";
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}

.function-list-item p {
  color: var(--brand-black-text);
  text-align: left;
  font: normal normal 300 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #001125;
  opacity: 1;
  margin: 0;
}

.screenshots {
  background-color: var(--brand-white-background);
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.screenshots-content {
  margin-top: 100px;
  margin-bottom: 50px;
  display: grid;
  grid-column: 1/9;
  position: relative;
  justify-items: center;
}
.swiper {
  width: 100%;
  height: auto;
  padding-bottom: 20px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border: red solid 1px; */
  -webkit-box-shadow: 0px 6px 21px -7px rgba(187, 187, 187, 1);
  -moz-box-shadow: 0px 6px 21px -7px rgba(187, 187, 187, 1);
  box-shadow: 0px 6px 21px -7px rgba(187, 187, 187, 1);
}

.swiper-pagination {
  position: absolute;
  bottom: 0px !important;
  --swiper-theme-color: var(--brand-green-text);
}
/* .swiper-pagination-bullet{
  width: 20% !important;
  height: 20% !important;
} */

.screenshots-content .swiper-button-next,
.screenshots-content .swiper-button-prev {
  color: var(--brand-green-text);
}
.screenshots-content .swiper-button-next {
  right: -20px;
}
.screenshots-content .swiper-button-prev {
  left: -20px;
}

.slogan {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan video {
  height: 600px;
  position: absolute;
  text-align: center;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.slogan-content {
  display: grid;
  grid-column: 1/9;
  justify-items: center;
  z-index: 10;
}
.slogan-text {
  grid-column: 1/9;
}
.slogan-text h1 {
  color: var(--brand-green-text);
  text-align: left;
  font: normal normal bold 60px/75px "Open Sans";
  letter-spacing: 0px;
}

#exception2 {
  color: var(--brand-white-text);
  text-align: left;
  font: normal normal normal 50px/75px "Open Sans";
  letter-spacing: 0px;
}

.producers {
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e4e4e4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producers-content {
  display: grid;
  grid-column: 1/9;
  justify-items: center;
}
.producers-content .line {
  grid-row: 2;
}
.producers-content-header h4 {
  color: var(--brand-black-text);
  text-align: center;
  font: normal normal 600 30px/60px "Open Sans";
  letter-spacing: 0px;
  color: #001125;
  text-transform: uppercase;
  opacity: 1;
}

.producers-content-header .line {
  display: flex;
}

.producers-content-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  mix-blend-mode: luminosity;
  animation: slideInUp;
  animation-duration: 2s;
}
.producers-content-company img {
  opacity: 1;
  padding: 30px;
}
.producers-content-company::before {
  mix-blend-mode: luminosity;
  opacity: 1;
  padding: 30px;
}
.service {
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-content {
  display: grid;
  grid-column: 1/9;
  justify-items: center;
}

.service-content-header {
  padding: 20px;
  margin-top: 100px;
}
.service-content-header h4 {
  color: var(--brand-black-text);
  text-align: center;
  font: normal normal normal 50px/70px "Open Sans";
  letter-spacing: 0px;
  color: #001125;
  margin-bottom: 50px;
}
.service-content-header p {
  color: var(--brand-black-text);
  text-align: left;
  font: normal normal normal 20px/27px "Open Sans";
  letter-spacing: 0px;
  padding-top: 40px;
  padding-bottom: 100px;
}

.service-content-animation {
  margin-top: 20px;
  margin-bottom: 160px;
  display: flex;
  flex-direction: column;
}
.service-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center;
  animation: zoomIn;
  animation-duration: 2s; */
}

.bands-content {
  display: flex;
  flex-direction: column;
}
.bands1 {
  animation: slideInRight;
  animation-duration: 2s;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}
.bands2 {
  animation: slideInRight;
  animation-duration: 2s;
  animation-delay: 150ms;
  animation-fill-mode: backwards;
}
.bands3 {
  animation: slideInRight;
  animation-duration: 2s;
  animation-delay: 230ms;
  animation-fill-mode: backwards;
}
.service-content-animation {
  display: flex;
  flex-direction: row;
}
.band1 {
  margin-bottom: 60px;
}
.band2 {
  margin-bottom: 60px;
}
.band3 {
  margin-bottom: 20px;
}

.counter {
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #092443;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-content {
  display: grid;
  grid-column: 1/9;
  justify-items: center;
}

.counter-position {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #092443;
  height: auto;
  width: 100%;
  margin: 100px;
}
.value {
  font: normal normal normal 50px/20px "Open Sans";
  display: block;
  font-weight: bold;
  color: #fff;
  padding: 40px;
  border-bottom: var(--brand-green-text) solid 5px;
}

.instalatorzy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uruchomienia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zdjecia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  padding-top: 30px;
  width: 180px;
  color: var(--brand-white-text);
  text-align: center;
  font: normal normal 600 19px/30px "Open Sans";
  letter-spacing: 0px;
  opacity: 1;
}

.footer {
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    227deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(18, 119, 170, 1) 53%,
    rgba(9, 67, 102, 1) 100%
  );
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: grid;
  grid-column: 1/9;
  justify-items: center;
}

.footer .contact-me {
  display: grid;
  grid-template-columns: repeat(8, 122px);
  grid-template-rows: auto;
  column-gap: 16px;
}
.footer .contact-me .input-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-column: 1/4;
}
.footer .contact-me .input-row .text-input:nth-child(2) {
  margin-left: 0px;
}

.footer .contact-me .text-input,
.text-area-input {
  display: flex;
  flex-direction: column;
  
}
.footer .contact-me .text-input input {
  border: none;
  width: 250px;
  font: normal normal normal 15px/33px "Open Sans";
  padding: 5px;
}
.footer .contact-me .text-area-input {
  width: 100%;
  min-height: 143px;
}
.footer .contact-me .text-area-input textarea {
  resize: vertical;
  width: 100%;
  min-height: 143px;
  border: none;
  font: normal normal normal 15px/33px "Open Sans";
  padding: 5px;
}
.footer .contact-me h4 {
  color: var(--brand-white-text);
  text-align: left;
  font: normal normal 600 25px/60px "Open Sans";
  letter-spacing: 0px;
  opacity: 1;
}
.footer .contact-me .text-input {
  text-align: left;
  font: normal normal normal 18px/35px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
  opacity: 1;
}
.footer .contact-me .input-row {
  text-align: left;
  font: normal normal normal 18px/35px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
  opacity: 1;
}

.send-button {
  border-radius: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  opacity: 1;
  width: 171px;
  height: 54px;
  align-self: flex-end;
  text-align: center;
  font: normal normal 600 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #965506;
  text-transform: uppercase;
  opacity: 1;
}
.send-button:hover {
  background: rgb(208, 179, 144);
  border: rgb(208, 179, 144);
  color: #ffffff;
}
input:focus {
  outline: none !important;
  border-color: #965506;
  box-shadow: 0 0 10px #e5b171;
}
textarea:focus {
  outline: none !important;
  border-color: #965506;
  box-shadow: 0 0 10px #e5b171;
}
